[submodule "themes/solar-theme-hugo"]
	path = themes/solar-theme-hugo
	url = https://github.com/hcartiaux/solar-theme-hugo
[submodule "themes/archie-solarized"]
	path = themes/archie-solarized
	url = https://github.com/hcartiaux/hugo-theme-archie-solarized.git
